<div class="main-container">
  <div class="main">
    <app-header class="app-header"
    (emitHeaderData)="headerDataHandler({data:$event.data})"></app-header> 
    <div class="input-todo">
      <input type="text" [(ngModel)]="todoItem">
      <button (click)="todoItem!==''?todoAdd():null">Add</button>
    </div>
    <h1>show   {{headerData}}   tasks</h1>
    <app-todo-item class="todoItem"  *ngFor="let list of showData"
    [item]="list"
    (emmitcheckstate)="checkBoxHandler({checkBoxState:$event.checkBoxState,doItem:$event.doItem})"
    (emitremoveItem)="removeItemHandler({removeItem:$event.doItemremove})"
    ></app-todo-item>
  </div>
</div>