.Item-container
{
    display: flex;
    height: 100%;
    width: 100%;

    align-items: center;
}
.Item-container label{
    font-size:20px ;
    margin-left: 10px;
}
.Item-container input{
   height: 25px;
   width: 25px;
}
.checkBox
{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
   
}
button{
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 50px;
   background-color: red;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
button:hover{
    cursor: pointer;
}